@import url("https://fonts.google.com/specimen/Lexend+Deca");
@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");

* {
    font-size: 15px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 1.7rem;
    border: 1px solid #000;
}

.box:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box p {
    line-height: 1.5;
    max-width: 25ch;
    text-align: left;
}

.btn-learn-more {
    text-decoration: none;
    padding: 0.9rem;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}

@media screen and (max-width: 770px) {
    .cards {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .box:first-of-type {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: unset;
    }

    .box:last-of-type {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: unset;
    }
}