/*  {
    font-size: 15px;
} */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.box {
    padding: 1.7rem;
    border: 1px solid #000;
    color: #fff;
}

.box:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #e28525;
}

.box:nth-of-type(2) {
    background-color: #016972;
}

.box:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #00403f;
}

.box p {
    line-height: 1.5;
    max-width: 23ch;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.75rem;
}

.box img {
    margin-bottom: 0.3rem;
}

.box h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.188rem;
}

.btn-learn-more {
    text-decoration: none;
    padding: 0.9rem;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    font-size: 0.7rem;
}

@media screen and (max-width: 375px) {
    .cards {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .box:first-of-type {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: unset;
    }

    .box:last-of-type {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: unset;
    }
}